{{#unless session.isLoggedIn}}
  {{#link-to "login"}}Login{{/link-to}}
  {{#link-to "register"}}Register{{/link-to}}
{{/unless}}

{{#link-to "leaderboard"}}Leaderboard{{/link-to}}

{{#if session.isLoggedIn}}
  Logged in as {{session.currentUser}}.
  <button {{action "logOut"}}>Log out</button>
{{/if}}
