{{input value=query}}
<button type="submit" {{action "submit"}}>Search</button>

{{#if isAsc}}
  ASC | <a {{action "submit" "desc"}} href="#">DESC</a>
{{else}}
  <a {{action "submit" "asc"}} href="#">ASC</a> | DESC
{{/if}}
