{{#unless session.isLoggedIn}}
  Email {{input value=email}}<br/>
  Password {{input value=password type="password"}}<br/>

  {{#if isRegister}}
    Confirm Password {{input value=passwordConfirmation type="password"}}<br/>
  {{/if}}

  {{#if isRegister}}
    <button {{action 'register'}}>Register</button><br/>
  {{else}}
    <button {{action 'logIn'}}>Log in</button><br/>
  {{/if}}

  {{session.errors}}
{{/unless}}
